<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <style type="text/css">
        /*.ymove-leave-from {}  Commented out because it is bad practice to used empty rulesets */
        .ymove-leave-to {transform: translateY(100px); opacity : 0;}
        .ymove-leave-active {transition: all 4s;}
        .ymove-enter-from {transform: translateY(100px); opacity : 0;}
        /*.ymove-enter-to {} */
        .ymove-enter-active {transition: all 4s;}

    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
  
  <script>
    var app = Vue.createApp({
      data() {
        return {
          show: true // initially hidden
        }
      },
      template : `
        <button @click="show=!show">
            Produce the effect
        </button>
        <transition-group name="ymove">
            <p v-if="show">
                Paragraph 1
            </p>
            <p v-if="show">
                Second Paragraph
            </p>
        </transition-group>
      `,
    });
    
    var vm = app.mount("div#app");
    
  </script>
  
</html>
